<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @exception.class %> (<%= @status_code %>)</title>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body class="bg-gray-100 font-sans leading-relaxed text-gray-900">
  <div class="min-h-screen flex items-center justify-center p-4">
    <div class="w-full max-w-4xl bg-white shadow-xl rounded-2xl overflow-hidden">
      <%= yield %>
    </div>
  </div>
</body>
</html>
